.dashboard-dashboard {
    width: 80%;
    /* height: 500px; */
    aspect-ratio: 6 / 3;
    border: 3px solid var(--white);
    border-radius: 10px;
    margin: auto;
    max-width: 1400px;
    box-shadow: var(--gradient-shadow);
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.dashboard-wrapper {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-right {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 45%;
}

.button-wrapper {
    margin-bottom: 10px;
}
.gradient-button {
    font-weight: 900;
    font-size: 20px;
    color: var(--white);
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: var(--drop-shadow);
}
.gradient-button:hover {
    transform: scale(0.9);
    box-shadow: inset 0 0 0 2px var(--white);
    /* box-shadow: var(--inner-shadow); */
}
.gradient-button p {
    display: block;
    line-height: 0;
}
.gradient-button img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#download-button {
    display: none;
}

.dashboard-left {
    flex: 1;
    border: 2px solid var(--white);
    margin-right: 10px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    box-shadow: var(--drop-shadow);
    backdrop-filter: blur(2px);
}
.form-component {
    /* border: 2px solid red; */
    height: max-content;
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
}
.form-label {
    display: block;
    font-size: 10px;
}
#url-input {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    border-radius: 2px;
    font-size: 17px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    outline: 0;
}
.form-hr {
    box-shadow: var(--drop-shadow);
    height: 1px;
    width: 80%;
    margin: 10px auto 5px;
}

.barcode-background {
    position: relative;
    width: 100%;
    flex: 1;
    aspect-ratio: 1 / 1;
    
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: var(--drop-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcode-fill {
    width: 100%;
}
.barcode-cut-out {
    position: absolute;
    background-color: var(--white);
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcode-logo {
    width: 100%;
}
.logo-label {
    line-height: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

#checkbox {
    background-color: aliceblue;
    border-radius: 3px;
    scale: 1.1;
    width: 20px;
    height: 20px;
}


#real-upload {
    display: none;
}

#custom-button:hover {
    scale: 0.9;
    box-shadow: inset 0 0 0 2px var(--white);
}
#custom-button {
    font-weight: 900;
    padding: 10px 20px;
    background: var(--gradient);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#upload-logo, .preview-logo, .logo-hr {
    display: none;
}
.preview-logo {
    margin: auto;
    margin-bottom: 10px;
    animation: popup 0.3s ease-out;
}
@keyframes popup {
    0% {
        transform: scale(0);
    } 80% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1);
    }
}
.logo-label-text {
    opacity: 0.4;
}
#upload-logo p {
    font-size: clamp(7px, 15px, 15px);
    /* font-size: 5px; */
    padding: 3px 0;
}

.preview-hr {
    box-shadow: var(--drop-shadow);
    flex: 1;
    margin: 0 15px;
    height: 1px;
    background-color: var(--white);
}
.preview {
    margin-top: 15px;
    line-height: 0;
    font-size: 12px;
    display: none;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 540px) {
    .dashboard-dashboard {
        /* background-color: red; */
        flex-direction: column;
        height: max-content;
        margin-bottom: 20px;
        backdrop-filter: blur(3px);
    }
    .dashboard-left {
        all: unset;
        /* height: 500px; */
        overflow-y: hidden;
        flex-shrink: 0;
        flex: none;
    }
    .dashboard-right {
        /* display: none; */
        all: unset;
        margin-top: 10px;
        margin-bottom: -10px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .preview {
        display: flex;
    } 
}